$text__color--base : #56544d;
$color--base : #F7F7F7;
$menu-text__color--active : #385FE3;
$menu-text__color--in-active : #635f55;
$menu__color--background : #f9f8f8;
$color--default : #fff;
$color__orange : #FF9B42;
$color__orange--border : #fee6d0;
$color__orange--hover : rgba(255, 122, 0, 0.27);
$color-title : #afa899;
$color-blue : #385FE3;
$table__color--background-gris: #F7F7F7;
$table__color--th-gris: #635f55;
$table__color--td-gris: #666666;
$table__color--td-gris--hover: #fff;
$table__color--td-hover: #FF9B42;
$clavier__button--background: #FF9B42;
$clavier__background: #AFA899;
$color__orange-cercle--hover: #ffc24a;
$color--text: #414141;
$color--clock: #d5deff;
$color--clock: #d5deff;
$color__background--popup: #fff;
$color__background--header: #fff;
$color__background--badge: #ff9b42;
$color__background--auth: #FFA452;
$color__background--auth--tech: #F7F7F7;
$color__auth--label: #9B9B9B;
