<div class="block__contenu-page">
  <div class="block__contenu-page-table">
    <div class="pdf scroll pointeuse-container-rapport">
      <ngx-extended-pdf-viewer [src]="reportViewer"
                               useBrowserLocale="true" height="100%"
                               backgroundColor="rgb(82, 79, 79)"
                               [showSidebarButton]=false
                               [showBookmarkButton]=false
                               [showFindButton]=false
                               [showHandToolButton]=false
                               [showOpenFileButton]=false
                               [showPresentationModeButton]=false
                               [showPropertiesButton]=false
                               [showScrollingButton]=false
                               [showSecondaryToolbarButton]=false
                               [showZoomButtons]=false
                               [filenameForDownload]=documentName>
      </ngx-extended-pdf-viewer>
    </div>

  </div>
</div>
