:host ::ng-deep {
  .ui-calendar .ui-inputtext {
    width: 90%;
  }

  .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
    height: 52px;
    padding-bottom: 2px;
    width: 10%;
  }

  .ui-button,
  .ui-button:enabled:hover {
    background-color: #385FE3;
    border: 1px solid #385FE3;
  }
}

:host ::ng-deep {
  body .ui-datepicker table td > a.ui-state-active,
  body .ui-datepicker table td > span.ui-state-active {
    background-color: #385FE3;
  }
}
